header{
    background-image: url(/resources/images/bg.PNG);
    width: 100%;
    height: 500px;
  }

  header button{
    background-color: deeppink;
  }

  nav{
    background-color: rgba(0, 0, 0, 0.534);
  }

  .px-5 {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .display-4{
    display: flex;
    flex-direction: row;
    justify-items:center ;
  }

  footer{
    background-color: black;
  }